.zl-scrollBarBox {
  height: 100%;
  position: absolute;
  /*background: #464e5a;*/
}

.zl-scrollBar {
  position: absolute;
  left: 0;
  top: 0;
  /*background: #1caf9a;*/
  transition: background .3s;
}

.zl-scrollBar.zl-verticalBar {
  min-height: 10px;
  height: 100px !important;
}

.zl-scrollBar.zl-horizontalBar {
  min-width: 10px;
  width: 100px !important;
}

/*.zl-scrollBar:hover {
  background: #1caf9a;
} */

.zl-scrollContentDiv {
  position: relative !important;
  width: 100% !important;
  height: 100% !important;
  padding: 0 !important;
  margin: 0 !important;
  top: 0;
  left: 0;
}
